<div>
    {{  dataDetalle.varNombre + ' ' + dataDetalle.varAPatern + ' '+ dataDetalle.varAMatern}}
    <br>
    {{ dataDetalle.varMunicipio + ' ' + dataDetalle.varEstado}}
    
</div>
<hr>
<!-- <mat-card class="other">
    <mat-card-title class="font-minus" >
    {{dataDetalle.varNombre + ' ' + dataDetalle.varAPatern + ' '+ dataDetalle.varAMatern}}
    </mat-card-title>
    {{ dataDetalle.varEstado + ' ' + dataDetalle.varMunicipio}}
    <mat-card-content>
        <div class="img-circle">
            <img class="img" src="assets/imgs/perfil.png">
        </div>
    </mat-card-content>
    <h4></h4>
    
    <button mat-flat-button color="primary" *ngIf="dataDetalle.intStatus == 0">Completar Registro</button>
    <button mat-flat-button color="primary" *ngIf="dataDetalle.intStatus == 1" >Modificar Datos de contacto</button>
</mat-card> -->