<mat-card [formGroup]="form">
    <mat-card-content>
        <mat-form-field appearance="outline">
            <!--Select profession o ofice -->
            <mat-label>Puesto o Área laboral</mat-label>
            <input matInput placeholder="Nombre del Trabajo" formControlName="varCargo" maxlength="30">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 20%">
            <mat-label>Tipo de Empleado</mat-label>
            <mat-select formControlName="intTipoTrabajo"  (selectionChange)="onChange($event.value)" (selectionChange)="consultar()">
            <mat-option *ngFor="let op of options" [value]="op.id">
                {{op.viewValue}}
            </mat-option>
            </mat-select>
            
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="consultar()">Buscar Empleo</button>
    </mat-card-content>
</mat-card>

<mat-card class="empleos" *ngIf="mostrartrabajos">
    <div *ngFor="let oferta of listOfertasLaborales; let i = index;">
        <h3>{{oferta.empresa + ' - ' + oferta.varPuesto}}</h3>
        <mat-card-content>
            <p>
                {{oferta.varDescripcion}}
            </p>
            <p *ngIf="oferta.mostrar">
                Ubicación: {{oferta.varUbicacion}}
            </p>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>{{oferta.decSalario | currency}}</p>
            <button mat-flat-button color="primary" (click)="mostrarDetalle(oferta)">Detalle</button>
        </mat-card-actions>
    </div>
</mat-card>